{
  "*.{js,jsx,ts,tsx}": "npx eslint --max-warnings=0 --fix",
  "*.{ts,tsx}": "npx tsc --noEmit --skipLibCheck --jsx react-jsx",
  "*.{js,jsx,ts,tsx,md,html,css}": "npx prettier --write --ignore-unknown"
}
